@page "/add-student"
@using StudentManagment.Client.Services
@using StudentManagment.Shared.Models
@inject NavigationManager navigation
@inject IJSRuntime jSRuntime
<h3>Add New Student</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <EditForm Model="studobj" OnValidSubmit="CreateStudent" FormName="addstudent">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <InputText for="FirstName" class="form-control" @bind-Value="studobj.FirstName" />
                            <ValidationMessage For="() => studobj.FirstName" />
                        </div>
                    </div>
                </div>

            </div>

        </EditForm>
    </div>
</div>

@code {
    public Student studobj { get; set; } = new();
    protected async Task CreateStudent()
    {
        
    }
}
